.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
.venv
api/
dataset_preprocessing/augmented_dataset/
dataset_preprocessing/original_dataset/
dataset_preprocessing/augmented_dataset.json
cnn_model/training_dataset
cnn_model/testing_dataset
cnn_model/